# Dependencias
node_modules/

# Build
dist/
*.tgz

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Configuración del editor/IDE
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

# Cachés de Next.js o herramientas
.next/
.cache/

# Otros innecesarios
coverage/
*.tmp
